.header {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .title {
    font-size: 4rem;
    font-weight: 800;
    font-family:'monospace';
    color: #2ea073;
    margin-top: 1.5rem;
    font-weight: 400;
  }
  
  .search-hint {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 3rem;
    color: #8b949e;
    font-size: 1rem;
  }
  
  @media (min-width: 1600px) {
    .header {
      margin-bottom: 4rem;
    }
    
    .title {
      font-size: 4rem;
    }
    
    .search-hint {
      font-size: 1.1rem;
      margin: 2rem 0 4rem;
    }
  }